<div class="content">
        <form class="canv">
            <h1 [style.font-family]="FontWiki">Edit preview</h1>
            <h3 [style.font-family]="FontWiki">Choose the form of Wikipedia's preview</h3>
            <canvas id="canvas" #option></canvas>
            <br>
            <button class="draw" (click)="drawCircle()" (click)="SetPrewiev(option)" [style.font-family]="FontWiki">Draw circle</button>
            <button class="draw" (click)="drawTriangle()" (click)="SetPrewiev(option)" [style.font-family]="FontWiki">Draw triangle</button>
            <button class="draw" (click)="drawSquare()" (click)="SetPrewiev(option)" [style.font-family]="FontWiki">Draw square</button>
            <br>            
        </form>
        <div class="text">
                <textarea id="text"  [style.font-family]="FontWiki" #wiki>{{TextWiki}}</textarea>
        </div>
        <div class="fonts">
                <p [style.font-family]="FontWiki">The font-family is <strong style="text-transform:uppercase">{{FontWiki}}</strong></p>
                <Select #fn>
                        <option selected hidden>Choose here</option>
                        <option  value="Roboto">Roboto</option>
                        <option value="Helvetica">Helvetica</option>
                        <option value="Arial">Arial</option>
                </Select>
                <button class="btn-set" (click)="SetFont(fn)">Set font</button>
        </div>
        <a routerLink="/" class="btn" (click)="Cancel()"><span [style.font-family]="FontWiki">Cancel</span></a>
        <a routerLink="/" class="btn" (click)="SendWiki(wiki)"><span [style.font-family]="FontWiki">Save</span></a>
    </div>