<div class="content">
        <form class="canv">
            <h1 [style.font-family]="FontBentley">Edit preview</h1>
            <h3 [style.font-family]="FontBentley">Choose the form of Bentley's preview</h3>
            <canvas id="canvas" #option></canvas>
            <br>
            <button class="draw" (click)="drawCircle()" (click)="SetPrewiev(option)" [style.font-family]="FontBentley">Draw circle</button>
            <button class="draw" (click)="drawTriangle()" (click)="SetPrewiev(option)" [style.font-family]="FontBentley">Draw triangle</button>
            <button class="draw" (click)="drawSquare()" (click)="SetPrewiev(option)" [style.font-family]="FontBentley">Draw square</button>
            <br>
              
        </form>
        <div class="text">
                <textarea id="text" [style.font-family]="FontBentley" #bentley>{{TextBentley}}</textarea>
        </div>
        <div class="fonts">
                <p [style.font-family]="FontBentley">The font-family is <strong style="text-transform:uppercase">{{FontBentley}}</strong></p>
                <Select #fn>
                    <option selected hidden>Choose here</option>
                    <option  value="Roboto">Roboto</option>
                    <option value="Helvetica">Helvetica</option>
                    <option value="Arial">Arial</option>
                </Select>
                <button class="btn-set" (click)="SetFont(fn)">Set font</button>
            </div>
            <a routerLink="/" class="btn" (click)="Cancel()"><span [style.font-family]="FontBentley">Cancel</span></a>
            <a routerLink="/" class="btn" (click)="SendBentley(bentley)"><span [style.font-family]="FontBentley">Save</span></a>
    </div>